img{
    height: 20px;
    margin-left: 2px;
}

table{

    background-color: beige;
    margin: 5px;
}

p{
    border: 1px solid blue;
    padding: 50px;
    border-radius: 5px;
    max-width: 480px;
}

h2{
width: 80px;
padding: 20px;

}

tr button{
    margin-top: 0px;
     width: 50px;
    height: 30px;
    border: none;

}